.Marquee{
    user-select: none;
    color: #00FF66;
        font-size: 100px;
        font-family: "Doto", sans-serif;
        font-optical-sizing: auto;
        font-weight:400;
        font-style: normal;
}

