.InputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Input {
  width: 20%;
  font-family: "Doto", sans-serif;
  font-weight: 400;
  font-size: 32px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-color: #00FF66;
  background-color: transparent;
  color: white;
}

.InputOff {
  width: 20%;
  font-family: "Doto", sans-serif;
  font-weight: 400;
  font-size: 32px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-color: #005823;
  background-color: transparent;
  color: white;
}

.Select {
  width: 10%;
  height: 30px;
  margin-left: 50px;
  font-family: "Doto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  border-color: #005823;
  background-color: transparent;
  color: white;
}

.SelectOption {
  background-color: black;
  font-size: 18px;
}