.Primary {
    margin: 0;
    padding-top: 0;
    user-select: none;
    text-align: center;
}

.PrimaryText {
    color: #0F6;
    font-size: 80px;
    font-family: Doto, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

.Swap {
    font-family: Doto, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #0F6;
    border-color: #0F6;
    margin: 20px;
    background-color: transparent;
}

.Results {
    font-family: Doto, sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #0F6;
}